html body{
    background-color:#e67a25 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-- formatações principais --*/

.principal{
    background:linear-gradient(to right,#85d9fc,#f8c76d);
    width: 500px;
    height: 560px;
    border-radius: 47px;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.titulo{
    margin-left: 60px;
    margin-bottom: 10px;
    width:540px;
    height: 40px;
    line-height: 50px;
    color:#494444;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
}

/*-- formatação index --*/

.principal-index{
    background:linear-gradient(to right,#85d9fc,#f8c76d);
    width: 600px;
    height: 560px;
    border-radius: 47px;
}

.titulo-index{
    margin-bottom: 70px;
    width:600px;
    height: 40px;
    line-height: 50px;
    color: #494444;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    text-align: center;
}

.img-index{
    width: 360px;
    height: 280px;
    border-radius: 10px;
    border: 2px solid white;
}

/*-- fim formatação index --*/

.botao{
    height: 50px;
    width: 120px;
    margin: 60px auto; 
    display: inline-block; 
    text-align: center;
}

.botao:hover {
    height:60px;
    width:130px;
    color: rgb(71, 66, 66);
    transition: 1s;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 350px;
    height: 270px;
    border-radius: 10px;
    border: 2px solid white;
}

.opcao1{
    margin-top: 15px;
    width: 100%;
}

.opcao2{
    width: 100%;
}

.alterar{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eec979;
}

.alterar-botao{
    width: 100px;
    margin:15px auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calcular {
    width: 100%; 
    text-align: center;
}

.botao-calculo1 {
    width: 100px;
    margin: 15px auto; 
    display: inline-block; 
    text-align: center;
}

.botao-calculo2 {
    width: 100px;
    margin: 15px auto; 
    display: inline-block; 
    text-align: center;
}

.botao-again{
    width: 140px;
    height: 60px;
    margin: 10px auto; 
    display: inline-block; 
    text-align: center;
}

.botao-again:hover{
    width: 150px;
    height: 70px;
    color: rgb(71, 66, 66);
    transition: 1s;
}

.botao-calculo1:hover{
    width: 110px;
    height: 41px;
    color: rgb(71, 66, 66);
    transition: 1s;
}

.botao-calculo2:hover{
    width: 110px;
    height: 41px;
    color: rgb(71, 66, 66);
    transition: 1s;
}
/*-- TEXTO RESULTADO */

.texto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #494444;
    text-align: center;
    margin: 30px;
}

/*-- RESPONSIVIDADE BOOTSTRAP --*/

@media (max-width:575.98px) {
    .principal{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 420px;
        height: 480px;
        border-radius: 47px;
    }
    .titulo{
        margin-left: 60px;
        margin-bottom: 1px;
        width:540px;
        height: 40px;
        line-height: 50px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 5px;
    }
    .alterar-botao{
        width: 100px;
        margin:10px 0 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    img{
        width: 310px;
        height: 230px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao-calculo1{
        margin: 12px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .botao-calculo2{
        margin: 25px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .calcular{
        margin-top: 40px;
    }

    .principal-index {
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 420px;
        height: 480px;
        border-radius: 47px;
    }
    .titulo-index{
        width: 420px;
        text-align: center;
        margin-bottom: 50px;
    }
    .img-index {
        width: 310px;
        height: 230px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao {
        margin: 40px auto;
    }
    .botao-again{
        width: 140px;
        height: 60px;
        margin: 30px auto 0; 
        display: inline-block; 
        text-align: center;
    }
    .texto{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #494444;
        text-align: center;
        margin: 10px auto 20px auto;
}
  }

  /*Small devices*/
  @media (min-width:576px) and (max-width:767.98px) {
    .principal{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 440px;
        height: 500px;
        border-radius: 47px;
    }
    .titulo{
        margin-left: 60px;
        margin-bottom: 1px;
        width:540px;
        height: 40px;
        line-height: 50px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 5px;
    }
    .alterar-botao{
        width: 100px;
        margin:10px auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    img{
        width: 320px;
        height: 240px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao-calculo1{
        margin: 12px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .botao-calculo2{
        margin: 25px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .calcular{
        margin-top: 40px;
    }

    .principal-index {
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 480px;
        height: 520px;
        border-radius: 47px;
    }
    .titulo-index{
        width: 480px;
        text-align: center;
        margin-bottom: 70px;
    }
    .img-index {
        width: 320px;
        height: 240px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao {
        margin: 40px auto;
    }
    .botao-again{
        width: 140px;
        height: 60px;
        margin: 30px auto 0; 
        display: inline-block; 
        text-align: center;
    }
    .texto{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #494444;
        text-align: center;
        margin: 10px auto 20px auto;
    }
  }

  /*Medium devices*/
  @media (min-width:768px) and (max-width:991.98px) {
    .principal{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 460px;
        height: 520px;
        border-radius: 47px;
    }
    .alterar-botao{
        width: 100px;
        margin:15px auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    img{
        width: 330px;
        height: 250px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao-calculo1{
        margin: 12px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .botao-calculo2{
        margin: 30px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .calcular{
        margin-top: 40px;
    }
    .principal-index {
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 520px;
        height: 540px;
        border-radius: 47px;
    }
    .titulo-index{
        width: 520px;
        text-align: center;
        margin-bottom: 80px;
    }
    .img-index {
        width: 350px;
        height: 280px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao {
        margin: 40px auto;
    }
    .botao-again{
        width: 140px;
        height: 60px;
        margin: -10px auto; 
        display: inline-block; 
        text-align: center;
    }
  }

  /*Large devices*/
  @media (min-width:992px) and (max-width:1999.98px) {
    .principal{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 480px;
        height: 540px;
        border-radius: 47px;
    }
    img{
        width: 340px;
        height: 260px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .alterar-botao{
        width: 100px;
        margin:15px auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .botao-calculo1{
        margin: 15px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .botao-calculo2{
        margin: 35px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .calcular{
        margin-top: 40px;
    }
    .principal-index{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 600px;
        height: 560px;
        border-radius: 47px;
    }
    .titulo-index{
        margin-bottom: 70px;
        width:600px;
        height: 40px;
        line-height: 50px;
        color: #494444;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 15px;
        text-align: center;
    }
    .img-index{
        width: 360px;
        height: 280px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao{
        height: 50px;
        width: 120px;
        margin: 60px auto; 
        display: inline-block; 
        text-align: center;
    }
  }

  /*Extra large devices*/
  @media (min-width:1200px) {
    .principal{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 500px;
        height: 560px;
        border-radius: 47px;
    }
    .alterar-botao{
        width: 100px;
        margin:15px auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .alterar{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: #eec979;
    }
    .botao-calculo1{
        margin: 15px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .botao-calculo2{
        margin: 35px auto;
        width: 100px;
        display: block;
        text-align: center;
    }
    .calcular{
        margin-top: 50px;
    }
    img{
        width: 350px;
        height: 270px;
        border-radius: 10px;
        border: 2px solid white;
    }
        .principal-index{
        background:linear-gradient(to right,#85d9fc,#f8c76d);
        width: 600px;
        height: 560px;
        border-radius: 47px;
    }
    .titulo-index{
        margin-bottom: 70px;
        width:600px;
        height: 40px;
        line-height: 50px;
        color: #494444;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 15px;
        text-align: center;
    }
    .img-index{
        width: 360px;
        height: 280px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .botao{
        height: 50px;
        width: 120px;
        margin: 60px auto; 
        display: inline-block; 
        text-align: center;
    }
  }
